<h2>Associations</h2>

  <ul>
    <% @associations.each do |association| %>
      <li>
        <td>
          <% if association.logo_address.present? %>
            <%= image_tag(association.logo_address, width: '100') %>
          <% end %>
        </td>
        <td><%= link_to association.name, association %></td>
      </li>
    <% end %>
  </ul>
  <%= link_to "New Association", new_association_path %>
</table>
