/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Styles CSS pour la barre de navigation */
.main-nav {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur */
}
.main-nav ul {
    list-style-type: none; /* Supprimer les puces de la liste */
    margin: 0;
    padding: 0;
    text-align: center; /* Centrer les éléments */
}
.main-nav li {
    display: inline; /* Afficher les éléments de la liste horizontalement */
    margin: 0 10px; /* Espacement entre les éléments */
}
.main-nav a {
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Supprimer le soulignement des liens */
}
.main-nav a:hover {
    text-decoration: underline; /* Ajouter un soulignement au survol */
}